
teste/Novo Documento de Texto.txt
teste/Novo Documento de Texto (2).txt
teste/Nova Imagem de Bitmap.bmp
teste/desktop.ini
obj/desktop.ini
obj/Debug/main.o
obj/Debug/desktop.ini
bin/Debug/Aula1.exe
bin/Debug/desktop.ini
bin/desktop.ini
desktop.ini
